#calculator-outer {
    /* Colour */
    /* TODO remove me */
    background-color: aqua;

    /* Center align the calculator: */
    position: absolute;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto;

    margin-top: 5vh;

    /* Set width as a proportion of height w/ min values to prevent miniscule calculatini */
    height: 90vh;
    width: 60vh;
    min-width: 300px;
    min-height: 450px;

    /* Flexbox */
    display: flex;
    flex-direction: column;
}

#screen-outer {
    background-color: brown;
    height: 33.33%;
}

#buttons-outer {
    background-color: chartreuse;
    height: 66.66%;
}