/* || Generic styling: */

.flex-c {
    display: flex;
    flex-direction: column;
}

.color-grey {
    background-color: grey;
}



/* || Basic Calculator Structure: */

#calculator-outer {

    /* Center align the calculator: */
    position: absolute;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto;
    margin-top: 5vh;

    /* Set width as a proportion of height w/ min values to prevent miniscule calculatini */
    height: 90vh;
    width: 60vh;
    min-width: 300px;
    min-height: 450px;

}

#screen-outer {
    height: 33.33%;
}

#screen-upper {
    margin-top: 5%;
    height: 50%;
    flex-direction: row;
    justify-content: space-between;
}

#logo {
    width: 20%;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    align-self: center;
    font-style: oblique;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 900;
}

#solar-panel {
    background-color: rgb(50, 7, 3);
    width: 40%;
    margin-right: 15%;
    color: aliceblue;
}

#screen-inner {
    background-color: darkslategray;
    margin: 5%;
    height: 100%;
}

#buttons-outer {
    height: 66.66%;
}

/* || Button Structure: */

#buttons-inner {
    margin: 5%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4, 22%);
    column-gap: 4%;
    row-gap: 5%;
}

/* * I've not used table / table-cell before but it seems a great way of centering vertically and horizontally */

.button {
    display: table;
}

.button-inner {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    background-color: rgb(203, 169, 174);
    border-radius: 80%;
    border: 0.05rem solid darkgrey;
    color: rgb(99, 47, 64);
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
}

.operator {
    background-color: rgb(171, 118, 20);
}

.special {
    background-color: rgb(206, 204, 201);
}

#btn-C {
    background-color: rgb(141, 48, 39);
    color: whitesmoke;
}